* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 0rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  width: 540px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-indent: 10px;
}

form button {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.8rem 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
}

form button:hover {
  background-color: #333;
}


h2{
  margin-top: 2rem;
  text-align: center;
}